@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  position: relative;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100%;
  max-height: 90px;
  vertical-align: middle;
  position: relative;
}

.header .header__image {
  vertical-align: middle;
  padding-top: 20px;
}

.header .header__navigation {
  height: 100%;
  float: right;
}

.header .header__navigation ul {
  padding-top: 18px;
}

.header .header__navigation ul li {
  display: inline-block;
  text-transform: uppercase;
  margin: 18px;
}

.header .header__button {
  width: 83px;
  height: 33px;
  text-transform: uppercase;
  border-radius: 2px;
  color: #fff;
  background-color: #ffbb42;
  cursor: default;
}

.bunner {
  width: 100%;
  height: 590px;
  background-color: #709dca;
}

.bunner .bunner__text {
  width: 100%;
  max-width: 720px;
  margin: 0px auto;
  font-size: 30px;
  text-align: center;
  padding: 108px 0px 36px 0px;
}

.bunner .bunner__text h2 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.bunner .bunner__text p {
  font-size: 24px;
  color: #fff;
}

.bunner .bunner__form {
  display: inline-block;
  text-align: center;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.bunner .bunner__form input {
  display: inline-block;
  margin: 10px;
  height: 46px;
  width: 282px;
  border-radius: 5px;
}

.bunner .bunner__form button {
  font-size: x-large;
  display: inline-block;
  margin: 0px;
  height: 46px;
  width: 210px;
  color: #fff;
  background-color: #ffbb42;
  border-radius: 5px;
  vertical-align: middle;
}

.bunner__nbook {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 67px;
}

.bunner__laptop {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 536px;
  top: 440px;
}
